/*
 * This CSS is released under Creative Commons Zero 1.0 Universal license:
 * https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt
 */
.specs
{
	float: right;
}

:not(p)
{
	max-width: 85em;
	margin: 0 auto;
}


@media (max-width:89em)
{
	html
	{
		font-size: 0.95em;
	}
}
@media (min-width:90em)
{
	html
	{
		font-size: 1.05em;
	}
}

html
{
	background: #280b22;
	color: #eee;
	font-family: sans-serif;
	line-height: 1.4;
	text-shadow: 1px 1px #000;
}

code,pre, #TOC, a:hover
{
	background: #4e324e;
}

a
{
	color: #fcc;
}

img,video,iframe,pre
{
	max-width: 100%;
	overflow: auto;
}

.title>*, header ul>li, .nav ul>li,
#footer ul>li, .h:hover>*
{
	display: inline;
	margin: 0.7%;
	text-align :center;
}

.title>*, span.date
{
	display: block;
}

html, ul, #TOC
{
	padding: 1em;
}

.date, .author, .h a
{
	display: none;
}

@media (min-width:60em)
{
	.title-logo{display:none}
	div.title,h1.title {
		background:url("/favicon.ico") no-repeat;
		background-size:auto 99%;
		min-height:2em
	}
	div.title {background-position:right}
	h1.title {padding:0 4em}
	#TOC
	{
		float: left;
		margin: 1em;
		min-width: 25%;
	}
}

.f, .f *
{
	position: fixed;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
}

.f *
{
	transform: translate(-50%, -50%);
}

.f
{
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

*:focus + .f
{
	display: block;
}

img
{
	cursor: pointer;
}

.l,.r {
	max-width:25%;
	margin:1em;
}
.r {
	float: right;
}
.l {
	float: left;
}
.p {
	max-width: 13em;
}
